__pycache__/
*.pyc
utils/cuda/**/__pycache__/
utils/cuda/**/build/
utils/cuda/**/*.pyd
utils/cuda/**/*.so
utils/cuda/**/*.dll

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# YOLO models
yolo11m.pt
yolo11n.pt

.codex
