body {
    font-family: system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    color: white;
    background-color: #002b36;
}

.menu-link,
.menu-link:visited,
.menu-link:hover,
.menu-link:active,
.menu-link:focus {
    color: #ffffff;
    text-decoration: none;
}
